# intermediate make targets
wellknown-container/.image_id
wellknown-container/.container_id
src/grav/wellknown.tar
.tools
.installed

# python build artifacts
dist/
gravitational_audition*.whl
*.egg-info
__pycache__
